Diagnostics:
  Suppress:
    - ovl_no_viable_subscript
    - deprecated_declarations

CompileFlags:
  CompilationDatabase: .
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-jump-tables
    - -ffunction-sections
    - -fdata-sections
